/* Import normalize.css at the top */
@import url('normalize.css');

/* Root element for custom properties */
:root {
    --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;

    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
}